<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Blog de Laure et Cyril</title>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Roboto:400,700" rel="stylesheet">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script>
     if (document.location.hostname.indexOf("blablablog") != -1) {
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

         ga('create', 'UA-89047127-1', 'auto');
         ga('send', 'pageview');
     }
    </script>

    <script src="/js/mini-lightbox.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    {{ template "head" }}
  </head>
  <body>
    <div class="{{ containerCurrentPage }}">
      <header>
        {{ template "header" }}
      </header>

      <nav>
        <ul>
          <li><a href="/" {{ if isCurrentPage "index" }} class="active" {{ end }}>Blabla</a></li>
          <li><a href="/map" {{ if isCurrentPage "map" }} class="active" {{ end }}>Carte</a></li>
        </ul>
      </nav>

      <main>
        {{ template "content" . }}
      </main>

      <footer>
        <div class="hr">
          <span class="plane">&#9992;</span>
        </div>
      </footer>
    </div>
    {{ template "scripts" . }}
  </body>
</html>

{{ define "head" }}{{ end }}
{{ define "scripts" }}{{ end }}
