{{ define "header" }}
  <img class="blogLogo" src="/images/logo.png"></img>
  <h1 class="blogTitle">Les aventures de Laure et Cyril autour du monde</h1>
{{ end }}

{{ define "content" }}
  {{ range . }}
  <article>
    <h2 class="postTitle">
    <a href="/posts/{{.Slug}}">{{ .Title }}</a>
    </h2>
    <time class="postTime">{{ format .Date }}</time>
  </article>
  {{ end }}
{{ end }}
