{{ define "header" }}
  {{ template "smallheader" }}
{{ end }}

{{ define "content" }}
<article>
  <h2 class="postTitle">
    <img src="/images/flags/{{ .Country }}.svg" class="flag">
    {{ .Title }}
  </h2>
  <time class="postTime">{{ format .Date }}</time>

  {{ .Content }}
</article>
{{ end }}

{{ define "scripts" }}
<script>
  new MiniLightbox('.image');
</script>
{{ end }}
