* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #42464c;
  background-color: #FCFCFC;
}

a {
  text-decoration: none;
  color: #2980b9;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

header {
  margin-bottom: 70px;
}

.blogTitle {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  text-shadow: 4px 4px 4px #aaa;
  font-size: 2.7rem;
}

.blogLogo {
  display: block;
  margin: auto;
  width: 300px;
}

.blogLogo--small {
  width: 150px;
}

.postTitle {
  margin-bottom: 0;
  font-weight: normal;
}

.postTime {
  font-size: 1rem;
  color: #95a5a6;
}

.hr {
  border-top: 4px double #7f8c8d;
  text-align: center;
  margin-top: 50px;
}

.plane {
  position: relative;
  background-color: #FCFCFC;
  display: inline-block;
  padding: 0 10px;
  top: -15px;
  color: #7f8c8d;
  font-size: 1.5rem;
}

.image {
  border-radius: 4px;
}

.image:hover {
  cursor: pointer;
}

.flag {
  width: 20px;
}
