* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #42464c;
  background-color: #FCFCFC;
}

a {
  text-decoration: none;
  color: #2980b9;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

.container--large {
  max-width: 1000px;
}

nav {
  margin-bottom: 50px;
  border-bottom: 4px double #7f8c8d;
}

nav ul {
  list-style: none;
  text-align: center;
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 10px;
  font-family: 'Amatic SC', cursive;
  font-size: 2rem;
  font-weight: bold;
}

nav li a.active {
  color: #95a5a6;
  cursor: none;
  text-decoration: none;
  pointer-events: none;
}

.blogTitle {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  text-shadow: 4px 4px 4px #aaa;
  font-size: 2.7rem;
  margin-bottom: 50px;
}

.blogLogo {
  display: block;
  margin: auto;
  width: 300px;
}

.blogLogo--small {
  width: 150px;
  margin-bottom: 15px;
}

.postTitle {
  margin-bottom: 0;
  font-weight: normal;
}

.postTime {
  font-size: 1rem;
  color: #95a5a6;
}

article {
  line-height: 1.8em;
}

article figcaption {
  font-style: italic;
  line-height: 1.4em;
}

.hr {
  border-top: 4px double #7f8c8d;
  text-align: center;
  margin-top: 50px;
}

.plane {
  position: relative;
  background-color: #FCFCFC;
  display: inline-block;
  padding: 0 10px;
  top: -15px;
  color: #7f8c8d;
  font-size: 1.5rem;
}

figure {
  text-align: center;
}

.image {
  border-radius: 4px;
  max-width: 100px;
  max-height: 100px;
}

.image:hover {
  cursor: pointer;
}

.flag {
  width: 20px;
}

.ml_box {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
	background: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.ml_box img {
	max-width: 90%;
	max-height: 90%;
	vertical-align: middle;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	cursor: zoom-out;
	cursor: -webkit-zoom-out;
	border-radius: 4px;
}

#map {
  height: 600px;
}
